<template>
  <div class="list-page">
    <vs-row class="justify-content-center">
      <vs-col w="6" lg="8" sm="12" xs="12" class="custom-container">
        <div class="list-page__header">
          <span @click="goToSearch()">Uçuş</span>
        </div>
        <div class="list-page__flight">
          <span>İzmir - İstanbul, 7 Kasım Pazar</span>
        </div>
        <div class="list-page__promo">
          <div class="center con-switch">
            <b>Promosyon Kodu</b>
            <vs-switch v-model="promo" />
          </div>
          <p v-show="promo === true" class="w-full">
            Promosyon kodu seçeneği ile tüm Economy kabini Eco Fly paketlerini %50 indirimle satın alabilirsiniz!
          </p>
          <p v-show="promo === true" class="w-full">
            Promosyon kodu seçeneği aktifken Eco Fly paketi haricinde seçim yapılamamaktadır.
          </p>
        </div>
        <div class="flight-list">
          <div class="flight-list__header">
            Sıralama Kriteri
            <span class="flight-sort" @click="sort('ecoTotalFare')">Ekonomi Ücreti</span>
            <span class="flight-sort" @click="sort('departureDateTime')">Kalkış Saati</span>
          </div>
          <div class="flight-list__item" v-for="item in flightList" :key="item.flightNo">
            <div class="flight-list__row">
              <div class="flight-list__col">
                <div class="date">
                  <span class="time">{{getTime(item.departureDateTime)}}</span>
                  <span class="code">{{item.departureLocation.cityCode}}</span>
                  <span class="state">{{item.departureLocation.cityName}}</span>
                </div>
                <div class="divider">
                  <hr>
                </div>
                <div class="date">
                  <span class="time">{{getTime(item.arrivalDateTime)}}</span>
                  <span class="code">{{item.arrivalLocation.cityCode}}</span>
                  <span class="state">{{item.arrivalLocation.cityName}}</span>
                </div>
                <div class="total-date">
                  <span>Uçuş Süresi</span>
                  <span>
                    {{getFlightTime(item.departureDateTime,item.arrivalDateTime)}}
                  </span>
                </div>
              </div>
              <div class="flight-list__col" @click="selectorVisible(item.flightNo)">
                <div class="flex">
                  <vs-radio v-model="picked" :val="'model-eco-'+item.flightNo"></vs-radio>
                  ECONOMY
                </div>
                <div class="detail">
                  <span>Yolcu Başına</span>
                  <span>{{item.fare.ecoTotalFare.currency}} {{parseFloat(item.fare.ecoTotalFare.amount).toFixed(2)}}</span>
                </div>
              </div>
              <div class="flight-list__col" @click="closeSelector(item.flightNo)">
                <div class="flex">
                  <vs-radio v-model="picked" :val="'model-bus-'+item.flightNo"></vs-radio>
                  BUSINESS
                </div>
                <div class="detail">
                  <span>Yolcu Başına</span>
                  <span>{{item.fare.busTotalFare.currency}} {{parseFloat(item.fare.busTotalFare.amount).toFixed(2)}}</span>
                </div>
              </div>
            </div>
            {{item.subpackage}}
            <div class="flight-list__selector" :id="'selector-'+item.flightNo">
              <div class="flight-list__selector-col" v-for="sub in item.subPackage" :key="sub.name">
                <div class="flight-list__selector-header">
                  {{ sub.name }}
                  <span>
                    {{sub.currency}} {{parseFloat(sub.amount).toFixed(2)}}
                  </span>
                </div>
                <div class="flight-list__selector-list">
                  <span v-show="sub.baggage">{{sub.baggage}} kg bagaj</span>
                  <span v-show="sub.extraSeat === 1">Standart koltuk seçimi</span>
                  <span v-show="sub.updateTicket === 1">Ücretsiz değişiklik</span>
                </div>
                <div class="flight-list__selector-action"
                     @click="goToResult(sub.currency,sub.amount,sub.status)"
                     v-bind:class="{ 'disabled': (promo === true && (sub.name === 'ExtraFly' || sub.name === 'PrimeFly')) }">
                  Uçuşu Seç
                </div>
              </div>
            </div>
          </div>
        </div>
      </vs-col>
    </vs-row>
  </div>
</template>

<script>
export default {
  name: 'List',
  data () {
    return {
      promo: false,
      picked: 0,
      flightList: null,
    }
  },
  watch: {
    promo(val) {
      if(val === true) {
        for (let i in this.flightList) {
          this.flightList[i].fare.ecoTotalFare.amount = parseFloat(this.flightList[i].fare.ecoTotalFare.amount) / 2;

          for (let k in this.flightList[i].subPackage) {
            if(this.flightList[i].subPackage[k].name === 'EcoFly') {
              this.flightList[i].subPackage[k].amount = parseFloat(this.flightList[i].subPackage[k].amount) / 2;
            }
          }
        }
      }
      else {
        var localList = JSON.parse(localStorage.getItem('flightList'))
        for (let i in this.flightList) {
          this.flightList[i].fare.ecoTotalFare.amount = localList[i].fare.ecoTotalFare.amount;

          for (let k in this.flightList[i].subPackage) {
            if(this.flightList[i].subPackage[k].name === 'EcoFly') {
              this.flightList[i].subPackage[k].amount = localList[i].subPackage[k].amount;
            }
          }
        }
      }
    }
  },
  methods: {
    selectorVisible(id){
      var element = document.getElementById("selector-"+id);
      if(!element.classList.contains("visible")){
        element.classList.add("visible");
        this.picked = 'model-eco-'+id
      }
      else {
        element.classList.remove("visible");
        this.picked = ''
      }
    },
    closeSelector(id){
      var elems = document.querySelectorAll(".flight-list__selector");
      this.picked = 'model-bus-'+id;
      [].forEach.call(elems, function(el) {
        el.classList.remove("visible");
      });
    },
    getTime(flightDate){
      var event = flightDate.toString().split('T');
      var dateTime = event[1].split(':');
      var time = dateTime[0]+':'+dateTime[1];
      return time
    },
    getFlightTime(date1,date2){
      var d1 = new Date(date1),
        d2 = new Date(date2);

      var diff = d2 - d1;

      var flightTime = Math.floor(diff / 60e3);
      var hour = null;
      var minute = null;

      var returnalText =  '';

      if(flightTime > 60){
        hour = parseFloat(parseFloat(flightTime) / 60).toFixed(0);
        minute = flightTime %= 60;
        returnalText = hour + 's ' + minute + 'd'
      }
      else {
        minute = flightTime
        returnalText = minute + 'd'
      }

      return returnalText
    },
    sort(sortType){

      var sortCriteria = localStorage.getItem('sort')

      if(sortCriteria !== null){
        if(sortCriteria === 'less'){
          localStorage.setItem('sort','moss')
          sortCriteria = 'most'
        }
        else {
          localStorage.setItem('sort','less')
          sortCriteria = 'less'
        }
      }
      else {
        localStorage.setItem('sort','less')
        sortCriteria = 'less'
      }

      if(sortType === 'departureDateTime') {
        this.flightList.sort(function(a,b){
          return new Date(b.departureDateTime) - new Date(a.departureDateTime);
        });
        if(sortCriteria === 'less'){
          this.flightList = this.flightList
        }
        else {
          this.flightList = this.flightList.reverse();
        }

      }
      else {
        this.flightList.sort(function(a,b){
          return new Date(b.fare.ecoTotalFare.amount) - new Date(a.fare.ecoTotalFare.amount);
        });
        if(sortCriteria === 'less'){
          this.flightList = this.flightList
        }
        else {
          this.flightList = this.flightList.reverse();
        }
      }
    },
    goToSearch(){
      this.$router.push({ path: '/' })
    },
    goToResult(currency,amount,status){
      var totalAmount = parseFloat(amount) * this.$store.state.flightInfo.personSize
      var flightInfo = {
        personSize: this.$store.state.flightInfo.personSize,
        currency: currency,
        amount: amount,
        status: status,
        totalAmount: totalAmount,
      }

      localStorage.setItem('flightInfo',JSON.stringify(flightInfo));
      this.$store.dispatch("updateFlightInfo", flightInfo);

      this.$router.push({ path: '/result' })

    },
  },
  created() {
    this.flightList = JSON.parse(localStorage.getItem('flightList'));
  }
}
</script>

<style scoped>

.w-full {
  width: 100%;
  float: left;
}

.list-page {
  min-height: 100vh;
  padding: 2rem 0;
}

.list-page__header {
  float: left;
  width: 100%;
  margin-bottom: 16px;
}

.list-page__header span {
  padding: 7px 44px 5px;
  background-color: #E81932;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}

.list-page__flight {
  font-size: 28px;
  color: #232b38;
  font-weight: 500;
  float: left;
  width: 100%;
  margin-bottom: 16px;
}

.list-page__promo {
  float: left;
  width: 100%;
}

.list-page__promo .con-switch {
  float: left;
  display: flex;
  align-items: center;
}

.list-page__promo .con-switch .vs-switch {
  margin-left: 16px;
}

.flight-list {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.flight-list__item {
  background-color: #f9f9f9;
  float: left;
  width: 100%;
  border: 2px solid #e6e6e6;
  border-top: none;
  padding-top: 15px;
}

.flight-list__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #232b38;
  border-color: #0f1319;
  border-radius: 4px 4px 0 0;
  padding: 0 15px;
  color: white;
}

.flight-sort {
  padding: 5px 15px;
  min-width: 80px;
  margin-top: 9px;
  margin-bottom: 9px;
  border-radius: 5px;
  background-color: rgba(35,43,56,.25);
  color: #FFF;
  border: 1px solid rgba(255,255,255,.5);
  text-shadow: 0 1px 0 #000;margin-left: 16px;
  cursor: pointer;
}

.flight-sort:hover {
  background-color: rgba(255,255,255,.15);
  border-color: rgba(255,255,255,1);
}

.date {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.divider {
  min-width: 150px;
}
.flight-list__col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-date {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.flight-list__row {
  display: flex;
}

.flight-list__col:nth-child(2) {
  margin: 0 8px;
}

.flight-list__col .detail {
  display: flex;
  flex-flow: column;
}

.flight-list__col {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  background-color: #fff;
  padding: 20px 10px;
  height: 60px;
}

.flight-list__col:nth-child(1) {
  width: 50%;
}

.flight-list__col:nth-child(2), .flight-list__col:nth-child(3) {
  width: 25%;
  cursor: pointer;
}

.flight-list__row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.flight-list__selector {
  display: flex;
  background-color: white;
  justify-content: space-between;
  width: calc(100% - 64px);
  float: left;
  margin: 0 15px;
  padding: 15px;
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.flight-list__selector.visible{
  opacity: 1;
  height: auto;
  visibility: visible;
}

.flight-list__selector-col {
  width: 100%;
  float: left;
  border-left: 1px solid rgb(218, 224, 232);
  border-right: 1px solid rgb(218, 224, 232);
  border-bottom: 1px solid rgb(218, 224, 232);
}

.flight-list__selector-col:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

.flight-list__selector-header {
  display: flex;
  min-height: 50px;
  background: rgb(244, 245, 248);
  padding: 16px 10px 10px;
  justify-content: space-between;
}

.flight-list__selector-list {
  float: left;
  width: 100%;
  min-height: 150px;
}

.flight-list__selector-list span{
  border-bottom: 1px solid rgb(218, 224, 232);
  padding: 8px 12px;
  width: calc(100% - 24px);
  float: left;
}

.flight-list__selector-action {
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-align: center;
  background: rgb(147, 39, 44);
  float: left;
  cursor: pointer;
}

.flight-list__selector-action.disabled {
  opacity: .5;
  cursor: default;
}

.flight-list__selector-action.disabled:hover {
  background: rgb(147, 39, 44);
}

.flight-list__selector-action:hover {
  background: rgb(232, 25, 50);
}

.flex {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .flight-list__row {
    flex-flow: wrap;
  }
  .flight-list__col {
    width: 100% !important;
  }
  .flight-list__col:nth-child(2){
    margin: 8px 0;
  }
}

@media only screen and (max-width: 768px) {
  .flight-list__selector {
    flex-flow: wrap;
  }
  .flight-list__selector-col {
    width: 100% !important;
  }
  .flight-list__selector-col:nth-child(2){
    margin: 8px 0;
  }
}

</style>
