<template>
  <div class="result-page">
    <vs-row class="justify-content-center">
      <vs-col w="6" lg="8" sm="12" xs="12" class="custom-container">
        <div class="result-page__header">
          <p class="success" v-show="paymentInfo.status === 'available'">
            <i class="fas fa-check-circle"></i>
            Kabin seçiminiz tamamlandı.
          </p>
          <p class="error" v-show="paymentInfo.status === 'error'">
            <i class="fas fa-times-circle"></i>
            Kabin seçiminiz tamamlanamadı.
          </p>
        </div>
        <hr>
        <div class="result-page__body" v-show="paymentInfo.status === 'available'">
          <span>Toplam Tutar</span>
          <span>{{paymentInfo.currency}} {{paymentInfo.totalAmount}}</span>
        </div>
        <div class="result-page__body" v-show="paymentInfo.status === 'error'">
          <span></span>
          <span class="btn-red" @click="goToSearch()">Başa Dön</span>
        </div>
      </vs-col>
    </vs-row>
  </div>
</template>

<script>
export default {
  name: 'List',
  data () {
    return {
      paymentInfo: null
    }
  },
  methods: {
    goToSearch(){
      this.$router.push({ path: '/' })
    },
  },
  created() {
    this.paymentInfo = this.$store.state.flightInfo;
  }
}
</script>

<style>
.result-page {
  padding: 2rem 0;
}

.result-page__header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.result-page__header .success i{
  color: green;
}

.result-page__header .error i{
  color: red;
}

.result-page__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
  margin-top: 2rem;
}

.btn-red {
  padding: 16px 44px 16px;
  background-color: #E81932;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}
</style>
