<template>
  <div class="search-page">
    <vs-row class="justify-content-center">
      <vs-col w="6" lg="8" sm="12" xs="12" class="custom-container">
        <h2 class="search-page__title">Merhaba</h2>
        <h3 class="search-page__sub-title">Nereyi keşfetmek istersiniz?</h3>
        <div class="select-flight">
          <div class="select-flight__placement">
            <i class="fas fa-plane-departure"></i>
            <v-select :options="optionsDepartureLocation"
                      :reduce="country => country.code"
                      label="country" placeholder="Nereden"
                      id="departureLocationSelect"
                      v-model="departureLocation"></v-select>
          </div>
          <div class="select-flight__placement">
            <i class="fas fa-plane-arrival"></i>
            <v-select :options="optionsArrivalLocation" :reduce="country => country.code" label="country" placeholder="Nereye" v-model="arrivalLocation"></v-select>
          </div>
          <div class="select-flight__date">
            <span>Tarih</span>
            <i class="far fa-calendar-alt"></i>
          </div>
          <div class="select-flight__guest">
            <div class="select-flight__guest-content" @click="openGuestPopup()">
              <div class="info">
                <span>Kabin</span>
                <span>ECO</span>
                <span>Sınıf</span>
              </div>
              <div class="size">
                <span>{{dynamicPersonValue}}</span>
                <div class="person-size">
                  <i class="fas fa-male"></i>
                  <i class="fas fa-male" v-show="dynamicPersonValue >= 2"></i>
                  <i class="fas fa-male" v-show="dynamicPersonValue >= 3"></i>
                  <span v-show="dynamicPersonValue >= 4">+</span>
                </div>
              </div>
            </div>

            <div class="select-flight__choose" id="select-flight__choose">
              <h3 class="popup__header">Kabin ve yolcu seçimi</h3>
              <div class="popup__choose">
                <vs-radio v-model="picked" val="1">
                  Economy Class
                </vs-radio>
                <vs-radio v-model="picked" val="2">
                  Business Class
                </vs-radio>
              </div>
              <div class="popup__spinner">
                <span class="popup__spinner-header">Yolcu</span>
                <div class="popup__action">
                  <span class="popup__action-minus" @click="minusPerson()">
                    <i class="fas fa-minus"></i>
                  </span>
                  <span class="popup__action-value">{{dynamicPersonValue}}</span>
                  <span class="popup__action-plus" @click="addPerson()">
                    <i class="fas fa-plus"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="select-flight__submit" @click="searchFlightList()">
            <a>
              <span>Uçuş Ara</span>
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </vs-col>
    </vs-row>

    <vs-dialog width="550px" not-center v-model="warningModal">
      <div class="con-content">
        <h4 class="not-margin">
          Uyarı
        </h4>
        <p>
          Bu kriterlere uygun uçuşumuz bulunmamaktadır.
        </p>
      </div>
    </vs-dialog>

    <vs-dialog width="550px" not-center v-model="noFlightModal">
      <div class="con-content">
        <h4 class="not-margin">
          Uyarı
        </h4>
        <p>
          Lütfen lokasyon belirtiniz.
        </p>
      </div>
    </vs-dialog>

  </div>
</template>

<script>
export default {
  name: 'Search',
  data () {
    return {
      picked: 1,
      dynamicPersonValue: 1,
      departureLocation: '',
      arrivalLocation: '',
      optionsDepartureLocation: [
        {
          code: 'IZM',
          country: 'İzmir'
        },
        {
          code: 'ANK',
          country: 'Ankara',
        },
      ],
      optionsArrivalLocation: [
        {
          code: 'IST',
          country: 'İstanbul'
        }
      ],
      warningModal: false,
      noFlightModal: false,
    }
  },
  methods: {
    openGuestPopup() {
      var element = document.getElementById("select-flight__choose");
      if(!element.classList.contains("visible")){
        element.classList.add("visible");
      }
      else {
        element.classList.remove("visible");
      }
    },
    minusPerson(){
      if(this.dynamicPersonValue > 1){
        this.dynamicPersonValue =  this.dynamicPersonValue - 1;
      }
      else {
        this.dynamicPersonValue =  1;
      }
    },
    addPerson(){
      this.dynamicPersonValue =  this.dynamicPersonValue + 1;
    },
    searchFlightList() {
      if(this.departureLocation === 'IZM' && this.arrivalLocation === 'IST'){
        var flightInfo = {
          personSize: this.dynamicPersonValue
        }
        localStorage.setItem('flightInfo',JSON.stringify(flightInfo));
        this.$store.dispatch("updateFlightInfo", flightInfo);

        this.$router.push({ path: '/list' })
      }
      else if(this.departureLocation === '' && this.arrivalLocation === ''){
        this.noFlightModal = true;
      }
      else {
        this.warningModal = true;
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.search-page {
  background-color: #063048;
  min-height: 100vh;
  padding: 2rem 0;
}

.search-page__title, .search-page__sub-title {
  text-align: center;
  color: white;
}

.search-page__title {
  font-size: 44px;
  font-weight: 100;
  margin-bottom: 8px;
}

.search-page__sub-title {
  font-size: 38px;
  font-weight: 100;
  margin-top: 0;
}

.select-flight {
  background-color: rgb(96 105 119 / 60%);
  padding: 20px 2em;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row;
  position: relative;
}
.select-flight__placement {
  background-color: white;
  padding: 2px 16px;
  width: 28%;
  height: 85px;
  display: flex;
  align-items: center;
}

.select-flight__placement i {
  font-size: 32px;
}

.select-flight__date {
  background-color: #232b38;
  padding: 2px 16px;
  height: 85px;
  font-size: 32px;
  color: white;
  display: flex;
  align-items: center;
}

.select-flight__date i {
  font-size: 48px;
  margin-left: 24px;
  color: #99a5b4;
}

.select-flight__guest {
  background-color: #232b38;
  padding: 2px 16px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  cursor: pointer;
}

.select-flight__guest .info{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.select-flight__guest .info span:nth-child(1) {
  color: #99a5b4;
  font-size: 14px;
}

.select-flight__guest .info span:nth-child(2) {
  color: #fff;
  font-size: 30px;
  padding-top: 4px;
}

.select-flight__guest .info span:nth-child(3) {
  color: #fff;
  font-size: 14px;
}

.select-flight__guest .size{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.select-flight__guest .size span {
  color: #fff;
  font-size: 24px;
  line-height: 1;
}

.select-flight__guest .size .person-size {
  display: flex;
  color: #99a5b4;
  font-size: 32px;
}

.select-flight__guest-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.select-flight__submit {
  height: 85px;
  background-color: #E81932;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
  width: 70px;
  padding: 2px 0;
  cursor: pointer;
}

.select-flight__submit span {
  display: none;
}

.select-flight__choose {
  background: white;
  position: absolute;
  top: 120px;
  width: 380px;
  right: 32px;
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.select-flight__choose.visible {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.select-flight__choose:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: 120px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  top: -9px;
}

.popup__header {
  color: #96979a;
  font-size: 20px;
  padding: 10px 1em;
}

.popup__choose {
  display: flex;
  padding: 10px 1.5em;
}

.popup__choose .vs-radio-content {
  margin-right: 8px;
  color: #96979a;
  font-size: 18px;
}

.popup__spinner {
  padding: 30px 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup__spinner-header {
  color: #232b38;
  font-size: 20px;
  font-weight: 700;
}

.popup__action {
  display: flex;
}

.popup__action-value {
  color: #232b38;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  font-weight: bold;
}

.popup__action-minus, .popup__action-plus {
  width: 40px;
  height: 40px;
  background-color: #ebeeef;
  box-shadow: 0 0 6px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #858689;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .select-flight {
    flex-flow: column;
  }
  .select-flight__placement, .select-flight__date, .select-flight__guest, .select-flight__submit {
    width: 100%;
    margin-bottom: 8px;
  }
  .select-flight__submit {
    padding: 2px 16px;
  }
  .select-flight__submit a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .select-flight__submit span {
    display: block;
    margin-right: 8px;
  }
  .select-flight__guest {
    height: auto;
    flex-flow: wrap;
  }

  .select-flight__choose {
    position: relative;
    width: 100%;
    top: 10px;
    right: 0;
  }

  .select-flight__choose:before {
    display: none;
  }
}

</style>
