<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  padding: 0;
  margin: 0;
}
.justify-content-center {
  justify-content: center !important;
}

.search-page .vs__dropdown-toggle {
  border: none !important;
}

.search-page .v-select.vs--single.vs--searchable {
  width: 100% !important;
}

@media only screen and (max-width: 1366px) {
  .custom-container {
    width: 85%;
  }
}
</style>
